.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "EB Garamond", serif;
  font-size: 40px;
  padding: 10px;
}
header {
  margin-top: 10%;
}

footer {
  font-family: "Crimson Text", serif;
  margin-top: auto;
}
